.conainer {
    min-width: 320px;
    margin: 0 auto;
    padding: 0 16px;
    background-color: aquamarine;
}

.list {
    list-style: none;
    padding: 0;
}

.item {
    margin: 10px;
}

.image {
    max-width: 100%;
    height: auto;
}